// import all vars
@import 'colors';
@import 'font';
@import 'typography';
@import 'media';
@import 'grid';

// run constructor functions, change both into NPM package (like rupture)
@import 'functions/grid'
@import 'functions/normalize'
